/*
   Style that applies to every file
*/

/*.gradient {
   background-image: url( '../Assets/vanishing-stripes.svg' );
}*/

body, html {
   font-family: 'Anonymous Pro', monospace;
   background-color: #0a2351;
   color: whitesmoke;
   height: 100%;
}