.gradient {
   background-image: url( '../Assets/vanishing-stripes.svg' );
}

body, html {
   font-family: 'Anonymous Pro', monospace;
   height: 100%;
}

.yoSoyMatthes {
   font-family: 'Ubuntu', sans-serif;
}

.projectsContainer {
   max-width: 96%;
   height:80%; background-color:#b3e5fc;
   border-radius: 40px;
   opacity: 0.8;
   transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.projectsContainer:hover {
   cursor: pointer;
   transform: scale(1.02);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
   background-color: #8ddbff;
}

.headerIcons {
   height: 40px;
   width: 40px;
}