@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    overscroll-behavior-y: none;
  }
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f8fafc;
  transition: background-color 0.3s;
}

.dark body {
  background-color: #020617;
}
